header {
    background-color: #0D5C63;
    color: white;
    text-align: center;
    padding: 20px;
    display: grid;
	grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}



footer {
    background-color: #0D5C63;
    color: white;
    padding: 20px 0;
    text-align: center;
    margin-top: 20px;
}

#logo{
    text-align: left;
    height: 40px;
}


.about-us h2 {
    color: #333;
    margin-top: 20px;
}

.about-us p, .about-us ul {
    margin: 10px 0;
}

.about-us ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-us ul li {
    margin: 5px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
}

.footer-info, .footer-links, .footer-social {
    margin: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.boutonAccueil, #backAccueil a,.footer-links a, .footer-social a {
    color: white;
    text-decoration: none;
}

.boutonAccueil:hover, #backAccueil a:hover,.footer-links a:hover, .footer-social a:hover {
    text-decoration: underline;
}

.footer-bottom {
    margin-top: 20px;
    font-size: 14px;
}




.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: underline;
}

#backAccueil{
    
    
    display:inline-block;
    text-align: center;
}

#texteAccueil
{
    margin-left: auto;
}

#pictogrammeAccueil{
    width: 10%;
    height: auto;
    float:  left;
    

}

.centreeDansHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}